body, html {
    font-size: 16px;
    font-family: Lato, sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2 {
    font-family: "Gilroy ExtraBold" ;
}

h1 {
    font-size: 4.5rem;
    color: #25384f;
    width: 40rem;
}

h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin: 0 0 1.5rem;
    color: #244564;
}

p {
    font-size: 18px;
    color: #454545;
}

.nav-bars {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    position: fixed;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 0 0 8%;
}

ul {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
}

li {
    display: inline-block;
    height: 100%;
}

.dark-blue {
    background-color: #25384f;
}

#explore {
    color: white;
    font-weight: bold;
    border-bottom: solid 6px #85C3E9;
}

.login {
    background-color: #374F6C;
}

#free-trial-link {
    color: #244564;
    font-weight: bold;
    border: none;
}

#upper-nav {
    color: #85C3E9;
}

#upper-nav li:hover,
#upper-nav a:hover {
    color: white;
}

nav .green:hover,
#trial-button:hover {
    background-color: #d5dd81;
}


#upper-nav li {
    /* border-right: solid 0.25px #85C3E9; */
    height: 100%;
    padding: 0.625rem 1.375rem;
}

#upper-nav a {
    display: inline-block;
    height: 100%;
}

.fixed-width {
    padding: 0 1.5rem;
}

/* #upper-nav span{
    margin: 0;
    justify-content: center;
} */

#lower-nav {
    background-color: white;
    color: #244564;
    height: 5.125rem;
    justify-content: space-between;
}

#lower-nav ul {
    display: flexbox;
    float: right;
    padding: 0 2rem;
}

#lower-nav a {
    font-size: 18px;
    padding: 0 2rem;
}

#lower-nav li:hover {
    color: #85C3E9;
}

.main-content h1 {
    margin-top: 0;
    margin-bottom: 1.5rem;
    line-height: 4.875rem;
    text-shadow: 0 0 7px #85c3e9,
                 0 0 7px #85c3e9,
                 0 0 7px #85c3e9,
                 0 0 7px #85c3e9,
                 0 0 7px #85c3e9;
}

.main-content p {
    font-size: 26px;
    font-family: KlinicSlab;
    color: #244564;
}

#trial-button {
    font-size: 1.5rem;
    font-family: "Gilroy ExtraBold";
    padding: 1rem 1.375rem 0.875rem;
    box-shadow: inset 0 -5px 0 -1px #abb833;
    border-radius: 5px;
}

.wrapper {
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 5rem;
    padding-bottom: 6.25rem;
    position: relative;
    top: 158px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.flex .media,
.flex .text {
    display: inline-flexbox;
    width: 45%;
}

.main-content {
    height: 340px;
}

img {
    width: 100%;
}

.green {
    background-color: #CEDD3E;
}

.light-blue {
    background: url(./assets/main-background.svg) right no-repeat #85c3e8;
}

#video-link {
    font-size: 18px;
    font-weight: bold;
    color: #4495D7;
}

@font-face {
    font-family: "Gilroy ExtraBold";
    src: url(./assets/Gilroy-Font/Radomir\ Tinkov\ -\ Gilroy-ExtraBold.otf)
}

@font-face {
    font-family: KlinicSlab;
    src: url(./assets/KlinicSlab_Personal_License/KlinicSlabLightIt.otf)
}